/* Add a black background color to the top navigation */

/* .topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  } */
  
  /* Style the links inside the navigation bar */
  /* .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  /* Change the color of links on hover */
  /* .topnav a:hover {
    background-color: rgb(111, 111, 111);
    color: black;
  } */
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #0462aa;
    color: white;
  } */
  .header {
    position: sticky;
    top:0;
    padding:40px;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  .icon{
    font-size: 100px;
    color: white;
  }
  .button-examples{
      background-color:#ffffff;
      margin-top:50px;
      height:130px;
      border-radius: 15px 15px 15px 15px;
      margin-left:10px;
      font-weight:600;
      color: rgb(255, 68, 68);
  }
  nav.navbar {
  /* Use a flex-box layout to put the menu and icons side by side */
  display: flex;
  /* Centre the flex children (the ULs) vertically in the flex box */
  align-items: center;

  background-color:#ffffff;
  height:60px;
  width: 100%;
  text-align: center;
  /* border: 1px solid; */
}

nav.navbar .menu {
  /* Removes standard list styling. Hide bullets, remove padding. */
  list-style: none;
  padding: 0;
  /* Make menu expand to fill most of the space in the menubar */
  flex: 1;
}

nav.navbar .menu li {
  /* Makes menu list items display horizontally rather than vertically */
  display: inline;
}

/* Add some spacing between the menu items */
nav.navbar .menu li:not(:first-child) {
  padding-left: 1em;
}

nav.navbar .social-icons {
  /* Removes standard list styling. Hide bullets, remove padding. */
  list-style: none;
  padding: 0;
}

nav.navbar .social-icons li {
  /* Makes social list items display horizontally rather than vertically */
  display: inline;
}

nav.navbar .social-icons svg {
  width: 30px;
  height: 30px;
}

body {
    background: rgb(255, 255, 255);
    font: 18px Arial, sans-serif;
} */
 h1 {
    color: rgb(255, 255, 255);
}

/** SLIDESHOW **/
/* .container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} */

/** Flatted button %placeholder **/
.btn-iconed.btn-flat {
  border-radius: 0rem;
  /* margin-right: 2rem; Icon sample spacing */
}
/** Rounded button **/
.btn-rounded {
  border-radius: 5rem;
  /* margin-right: 2rem;  Icon sample spacing */
}
/** Button Iconed **/
.btn-iconed {
  transition: .15s ease-in-out;
  padding-left: 1.3rem;
  padding-right: 1.5rem;
  /** Flatted button **/
}
/** Icons Classes **/
/** -- Open Iconic and Font Awesome -- **/
.btn-iconed [class~=oi], .btn-iconed [class~=fa],
/** -- Since Material and Iconic used ::before -- **/
.btn-iconed [class~=mdi]::before,
.btn-iconed [class~=icon]::before {
 opacity: 0;
  -webkit-transform-origin: left right;
  transform-origin: left right;
  -webkit-transform: translateX(-10px) scale(1.25);
  transform: translateX(-10px) scale(1.25);
  transition: .15s ease-out;
}
/** Span Class **/
.btn-iconed [class=spn] {
  position: relative;
  left: -9px;
  -webkit-transform-origin: left right;
  transform-origin: left right;
  -webkit-transform: translateX(-9px);
  transform: translateX(-9px);
  transition: .20s ease-in-out;
}
/** -- Icons on Hover properties -- **/
.btn-iconed:hover [class~=oi], .btn-iconed:hover [class~=fa],
.btn-iconed:hover [class~=mdi]::before, .btn-iconed:hover [class~=icon]::before {
  opacity: 1;
  -webkit-transform: translateX(0px) scale(0.75);
  transform: translateX(0px) scale(0.75);
}
/** -- Span on Hover properties -- **/
.btn-iconed:hover [class=spn] {
  left: 0px;
}
/** style.css -- compiled **/