/* Add a black background color to the top navigation */

/* .topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  } */
  
  /* Style the links inside the navigation bar */
  /* .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  /* Change the color of links on hover */
  /* .topnav a:hover {
    background-color: rgb(111, 111, 111);
    color: black;
  } */
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #0462aa;
    color: white;
  } */
  .header {
    position: sticky;
    top:0;
    padding:40px;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  .icon{
    font-size: 100px;
    color: white;
  }
  .button-examples{
      background-color:#ffffff;
      margin-top:50px;
      height:130px;
      border-radius: 15px 15px 15px 15px;
      margin-left:10px;
      font-weight:600;
      color: rgb(255, 68, 68);
  }
  nav.navbar {
  /* Use a flex-box layout to put the menu and icons side by side */
  display: flex;
  /* Centre the flex children (the ULs) vertically in the flex box */
  align-items: center;

  background-color:#ffffff;
  height:60px;
  width: 100%;
  text-align: center;
  /* border: 1px solid; */
}

nav.navbar .menu {
  /* Removes standard list styling. Hide bullets, remove padding. */
  list-style: none;
  padding: 0;
  /* Make menu expand to fill most of the space in the menubar */
  flex: 1;
}

nav.navbar .menu li {
  /* Makes menu list items display horizontally rather than vertically */
  display: inline;
}

/* Add some spacing between the menu items */
nav.navbar .menu li:not(:first-child) {
  padding-left: 1em;
}

nav.navbar .social-icons {
  /* Removes standard list styling. Hide bullets, remove padding. */
  list-style: none;
  padding: 0;
}

nav.navbar .social-icons li {
  /* Makes social list items display horizontally rather than vertically */
  display: inline;
}

nav.navbar .social-icons svg {
  width: 30px;
  height: 30px;
}

body {
    background: rgb(255, 255, 255);
    font: 18px Arial, sans-serif;
} */
 h1 {
    color: rgb(255, 255, 255);
}

/** SLIDESHOW **/
/* .container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} */